/*
 * Grid
 *
 */

$container: 610px;
$mail-body: 700px;
$container-gutters: 10px;

/*
 * Fonts
 *
 */

$font-main: "Roboto", Arial, sans-serif;
$font-second: Arial, sans-serif;

/*
 * Color
 *
 */

$color-white: #ffffff;
$color-black: #373737;

$color-text: $color-black;
$color-text-2: $color-white;
$color-link: $color-white;

$color-bg: #5aaefb;
$color-bg-white: $color-white;

$color-border: #f2f2f2;
